
<header>
    <div class="container-fluid">
        <nav class="navbar navbar-default navbar-fixed-top" >
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>

                <a href="/admin/dashboard" class="navbar-brand">西葫芦后台管理</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">

                    <li><a href="/admin/users">会员</a></li>
                    <li><a href="/admin/products">商品</a></li>
                    <li><a href="/admin/productgroups">商品组</a></li>
                    <li><a href="/admin/orders">订单</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/admin/dashboard/logout" >登出  </a></li>
                </ul>
            </div><!-- /.navbar-collapse -->
        </nav>
    </div>
</header>
