
<!--<div style="background-color: black">登录</div>-->

{{> header}}
<div  style="width: 240px; height: 48px;"></div>
<div style="height: 24px ;width: 240px;left: 67px;top: 114px;
font-size:24px;color:#263238;font-family:PingFang-SC-Regular;margin: 0 auto;">欢迎进入云店商户后台</div>
<div  style="width: 240px; height: 48px;"></div>
<form name="form" method="post">
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" style="font-family: PingFangSC-Regular;line-height: 18px;color: #999999;font-size: 17px;">帐号</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="text"  placeholder="" name="userId">
        </div>
    </div>
    <div class="weui-cell">
        <div class="weui-cell__hd"><label class="weui-label" style="font-family: PingFangSC-Regular;line-height: 18px;color: #999999;font-size: 17px;">密码</label></div>
        <div class="weui-cell__bd">
            <input class="weui-input" type="password"  placeholder="" name="password">
        </div>
    </div>
    <!--{{#each items}}-->
        <!--{{> product_row}}-->
    <!--{{/each}}-->
    <br>
    <!--<input  class="weui-btn weui-btn_primary"  type="submit"  value="登录"/>-->
    <div id="submit" onclick="javascript:form.submit();" style="font-family: PingFangSC-Regular;font-size: 18px;;fontcolor: #999999;line-height: 50px;text-align: center;background: #DDDDDD;border: 0 solid #AAAAAA;border-radius: 2px;margin: 0 auto;height: 44px;width: 315px">登录
    </div>

</form>

<!--{{> footer}}-->
<script>
    $(function(){
        console.log('{{error}}');


        if('{{error}}'){
            $.toast("登录失败",'cancel');
        }
    });

</script>