/* creat by fqm */
@charset "utf-8";
@import "tobe/function";
.content {
    padding-top: rem(88);    
    .number-check{
      width:100%;
      height:auto;
      margin-top:rem(40);
      padding:0 rem(40);
      padding-bottom:rem(80);
      background:#ffffff;
      text-align:center;
      .number-line{
        width:rem(450);
        display:inline-block;
        height:rem(100);
        border:1px solid #cccccc;
        margin-top:rem(60);
        position:relative;
        em{
          width:rem(98);
          height:rem(98);
          line-height:rem(96);
          text-align:center;
          font-size:rem(36);
          color:#666666;
          position:absolute;
          top:0;
          &.disable{
            color:#d8d8d8;
          }
          &.reduce{
            left:0;
          }
          &.add{
            right:0;
          }
        }
        input{
          width:rem(250);
          height:rem(96);
          line-height:rem(96);
          text-align:center;
          font-size:rem(36);
          color:#000000;
          border:solid #cccccc;
          border-width:0 1px;
        }
      }
      .message{
        width:100%;
        height:rem(64);
        line-height:rem(64);
        margin-bottom:rem(40);
        text-align:center;
       }
    }
}