/* creat by hmm */
@charset "utf-8";
@import "tobe/function";

.content{
    padding-top: rem(88);
    //padding-bottom: rem(100);
}
.tips{
	color: #808080;
	font-size: rem(28);
	padding: rem(10) rem(30) rem(10);
}
.content {
	.title{
		i{
			width: rem(40);
			height: rem(20);
			display: inline-block;
			background: url("base64/previous.png") no-repeat center;
		}
	}
	.fback{
    @include i-fback();
		//font-style: normal;
		//position: absolute;
		//left: rem(52);
		//top: rem(26);
		//font-size: rem(30);

	}
	.hrad-right{
		font-size: rem(30);
		color: #ffffff;
		margin-right: rem(30);
		cursor: pointer;
	}

	.billing{
		margin-bottom: rem(190);
		.otop{
			margin: rem(30) auto 0 auto;
		}
		.bl-button{
			margin: rem(30)
		}

		.shao{
			width: rem(46);
			height: rem(46);
			background: url("base64/sao.png") no-repeat center;
			background-size: 100%;
			display: block;
		}
		.order-product{
			padding-left: rem(30);
			background: #fff;
			border-bottom: 1px solid #d9d9d9;
			.probox{
				padding: rem(22) rem(30) rem(20) 0;
				border-bottom: 1px solid #d9d9d9;
				overflow: hidden;
				margin-bottom: -1px;
				.picture{
					width: rem(100);
					height: rem(100);
					overflow: hidden;
					float: left;
					text-align: center;
					margin-right: rem(30);
					img{
						width: auto;
						height: 100%;
					}
				}
				dl{
					width: rem(560);
					overflow: hidden;
					float: left;
				}
				dt{
					width: rem(560);
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					font-size: rem(28);
					color: #222;
					margin-bottom: rem(26);
				}
				dd{
					font-size: rem(24);
					color: #666;

				}
			}
			.pr{
				float: right;
				font-size: rem(28);
			}
		}
		.upload{
			margin: rem(30) 0 0 0;
		}
		// .tips{
		// 	color: #888;
		// 	font-size: rem(28);
		// 	padding: rem(30);
		// }

		.showall{
			font-size: rem(28);
			color: #586C94;
		}
		.arrow-back{
			transform: rotate(270deg);
			color: #999;
		}
		.arrow-up{
			transform: rotate(90deg);
		}
		.left-box{
			margin: 0 rem(40) 0 0;
		}
		.right-box{
			@include flex(1);
			@include display(flex);
			@include align-items(center);
			@include justify-content(space-between);
			height: 100%;
			.right-l{
				@include flex(1);
				padding-right: rem(20);
				color: #B2B2B2;
				input{
					width: 100%;
					border: none;
					outline: none;
				}
			}
			.right-r{
				@include flex(1);
				padding-right: rem(20);
				color: #B2B2B2;
				text-align: right;
			}
			.arrow-back{
				color: #C7C7CC!important;
				line-height: 1;
			}
			.red{
				color: #F76260;
			}
		}



	}

	.editgress{
		width:100%;
		position: fixed;
		bottom: 0;
		left: 0;
		font-size: rem(26);
		line-height: rem(100);
	}
	.sureoff{
		height: auto;
		background: #efeff4;
		.bl-button{
			margin: rem(30);
		}
	}
}

.watch-pic{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000000;
	z-index: 1000;
	padding-top: rem(200);
	visibility: hidden;
	text-align: center;
}


