@charset "utf-8";
@import "tobe/function";

.content{
	padding-top: rem(88);
	font-family:'Microsoft YaHei';
	.fback{
    @include i-fback();
		//font-style: normal;
		//position: absolute;
		//left: rem(52);
		//top: rem(26);
		//font-size: rem(30);
	}
	.check-catalog{
		height: rem(96);
		position:relative;
		z-index:1;
		ul{
			width:100%;
			top:rem(88);
			position:fixed;
			margin:0;
			padding: 0;
			list-style: none;
			background: #FAFAFA;
			height: rem(96);
			border-bottom: 1px solid #d9d9d9;
			li{
				box-sizing:border-box;
				margin:0;
				padding: 0;
				list-style: none;
				width: 33.33%;
				line-height: rem(96);
				float: left;
				text-align:center;
				font-size: rem(28);
				color: #263238;
				border-left: 1px solid #d9d9d9;
				position:relative;
				&:first-child{
					border-left:0;
				}
				i{
					display:inline-block;
					width:rem(14);
					background: inline-image("base64/check-state-icon.png") no-repeat left center;
					background-size: auto rem(28);
					height:rem(28);
					margin-left:rem(10);
					position:absolute;
					top:rem(32);
				}
				&.upper i{
					background-position: center center;
				}
				&.lower i{
					background-position: right center;
				}
			}
		}
	}
	.check-main{
		background-color: #fff;
		ul{
			margin: 0;
			padding: 0 0 0 rem(30);
			list-style: none;
			li{
				margin: 0;
				padding: 0;
				list-style: none;
				border-bottom: 1px solid #d9d9d9;
				height:rem(88);
				line-height:rem(88);
				padding:0 rem(30) 0 0;
				position:relative;
				i{
					position:absolute;
					right:rem(30);
					top:0;
					height:rem(88);
					width:rem(24);
					display:block;
					background: inline-image("base64/check-state-icon-1.png") no-repeat left center;
					background-size:rem(24) auto;
				}
				.number{
					float:left;
					width:33.33%;
					display:block;
					color: #585858;
					font-size: rem(34);
					line-height:rem(88);
				}
				.number-center{
					text-align: center;
				}
			}
		}
	}
	.check-more{
		height: rem(100);
		text-align: center;
		line-height: rem(100);
		span{
			display: inline-block;
			background: inline-image("base64/check-drop-down.png") no-repeat left center;
			padding-left:rem(35);
			background-size:rem(22) rem(34);
			color:#999;
			font-size:rem(24);
		}
	}
	.check-QRcode{
		padding: rem(20);
		background:#4b4b64;
		.QRcode-main{
			background:#FFF;
			border-radius:rem(6);
			overflow:hidden;
			&.mt20{
				margin-top: rem(20);
				.QRcode-title{
					span{
						i{
							background: inline-image("base64/state.png") no-repeat left center;
							background-size: auto rem(38);
						}
					}
				}
				.state-ul{
					ul{
						padding:0 0 0 rem(30);
						margin:0;
						list-style:none;
						li{
							margin:0;
							list-style:none;
							height:rem(88);
							line-height:rem(88);
							border-bottom:1px solid #d9d9d9;
							padding:0 rem(30) 0 0;
							font-size: rem(34);
							span{
								float:left;
								color: #585858;
							}
							i{
								float:right;
								color: #232323;
								font-style:normal;
							}
							&.on{
								i{
									color: #F76260;
								}
							}
							&:last-child{
								border-bottom:0;
							}
						}
					}
				}
			}
			.QRcode-title{
				height: rem(88);
				padding:0 rem(28);
				background-color: #f9f9f9;
				font-size: rem(32);
				line-height:rem(88);
				color: #666666;
				border-top-left-radius:rem(6);
				border-top-right-radius:rem(6);
				span{
					float: left;
					i{
						float: left;
						display: block;
						background: inline-image("base64/QRcode-icon.png") no-repeat left center;
						background-size:rem(38) auto;
						width:rem(38);
						height:rem(38);
						margin-top:rem(25);
						margin-right:rem(20);
					}
				}
				a:link,a:visited{
					float: right;
					font-size: rem(28);
					color: #00A699;
				}
			}
			.QRcode-img{
				text-align: center;
				padding: rem(30) rem(30) 0 rem(30);
				img{
					width: rem(440);
				}
			}
			.QRcode-font{
				line-height: rem(100);
				height: rem(130);
				text-align: center;
				a:link,a:visited{
					display: inline-block;
					padding: 0 0 0 rem(42);
					font-size: rem(28);
					color: #333333;
					background: inline-image("base64/refresh.png") no-repeat left center;
					background-size: rem(30);
				}
			}
		}
	}
}
.parking-bg{
	background:#fff;
	.parking-main{
		padding:rem(100) rem(40) rem(40) rem(40);
		text-align: center;
		.padking-icon-1{
			width: rem(186);
			height: rem(186);
			margin:0 auto;
			background:url("base64/padking-icon-1.png") no-repeat center center;
			background-size: rem(186);
		}
		.padking-icon-2{
			width: rem(186);
			height: rem(186);
			margin:0 auto;
			background:url("base64/padking-icon-2.png") no-repeat center center;
			background-size: rem(186);
		}
		.parking-font{
			font-size: rem(60);
			height:rem(112);
			line-height:rem(112);
			color: #222222;
			margin-top: rem(24);
		}
		.parking-list-font{
			color: #888888;
			line-height: rem(48);
			text-align: left;
			padding: 0 0 0 rem(140);
		}
		.parking-button{
			padding-top: rem(24);
			.mt30{
				margin-top: rem(30);
			}
		}
	}
}
.divClass{
  padding-top: rem(88);
  height: 100%;
  -webkit-overflow-scrolling:touch;
  overflow:auto;
  iframe {
    //width: 100% !important;
    //height: 100%;
  }
}
.divClass1{
  padding-top: 0;
  height: 100%;
  -webkit-overflow-scrolling:touch;
  overflow:auto;
  iframe {
    //width: 100% !important;
    //height: 100%;
  }
}
