@charset "utf-8";
@import "tobe/function";
.box {
  overflow: hidden;
  width: 400px;
  padding: 1px 1px 1px 1px;
  background: grey;
  margin: 100px auto;
}
.box div {
  height: 100px;
  width: 100px;
  margin-right: 1px;
  float: left;
  margin-bottom: 1px;
  background: gainsboro;
  text-align: center;
  line-height: 10px;
}
.content{

}
