@charset "utf-8";
@import "tobe/function";

.content{
    padding-top: rem(88);
    padding-bottom: rem(60);

	.fback{
    @include i-fback();
		//font-style: normal;
		//position: absolute;
		//left: rem(52);
		//top: rem(26);
		//font-size: rem(30);

	}

}

.common{
	padding-bottom: rem(100);
	dfn{
		height: rem(80);
		line-height: rem(80);
		padding:0 rem(30);
		font-style: normal;
		color: #888;
		font-size: rem(28);
		display: block;
	}

	.check-attr{
		width: 100%;
		background: #fff;
		padding: 0 0 0 rem(30);
		display: table;
		@include hair(bottom, #d9d9d9);
		.checkicon{
			line-height:rem(316);
			display: table-cell;
			vertical-align: middle;
			i{
				width:rem(46);
				height:rem(46);
				border:1px solid #aaa;
				border-radius:50%;
				display: block;
				margin:0 rem(10) 0 0;
			}
		}
		.checkbox{
			@include hair(bottom, #d9d9d9);
			overflow: hidden;
			.check-card{
				width: 100%;
				clear: both;
				padding: rem(22) 0;
				text-align: left;
				position: relative;
				h1,h2{
					font-size: rem(34);
					font-weight: 100;
				}
				.size{
					font-size: rem(26);
					color: #888;
					width: rem(560);
					height: rem(38);
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
				}
				.param{
					font-size: rem(26);
					color: #888;
					width: rem(560);
				}
			}
			.arrow-back{
				position: absolute;
				right: rem(30);
				top: rem(20);
				@include transform(rotate(270deg));
				font-size: rem(28);
				margin-left: rem(10);
				color: #C7C7CC!important;
				line-height: rem(88);
			}
			.arrow-back{
				transform: rotate(270deg);
				color: #999;
			}
			.arrow-up{
				transform: rotate(90deg);
			}
		}
		.check{
			i{
				background:url("base64/check.png") no-repeat center;
				background-size: 120%;
			}

		}
	}

}

.boot{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	padding: rem(30);
	background: #efeff4;
}
