@charset "utf-8";
@import "tobe/function";

.content{
    padding-top: rem(88);
    //padding-bottom: rem(60);
	.fback{
    @include i-fback();
		//font-style: normal;
		//position: absolute;
		//left: rem(52);
		//top: rem(26);
		//font-size: rem(30);

	}
	margin-bottom: rem(60);
}

.activity, .activitybox{
	margin: rem(30) 0 0;
	.actname{
		margin: rem(40) 0;
	}
	.actup{
		margin: rem(40) 0;
	}
  .button-input{
    width:100%;
    height:100%;
    position:absolute;
    top:0;
    left:0;
    border:none;
    outline:none;
    opacity:0;
    z-index: 2;
  }
  .upright{
	height: rem(140);
	line-height: rem(140);
  }

  .img-box{
		width: rem(90);
		height: rem(90);
		float: right;
		position: absolute;
		right: rem(50);
		top: rem(25);
		z-index: 9;
		img{
			width: 100%;
			height: 100%;
			float: right;
		}
  }
	.left-box{
		width:rem(180);
	}
	.face{
		width: rem(240);
		height: rem(140);
		line-height: rem(140);
   // background-color: red;
	}
	.margin-b{
		margin-bottom: rem(40);
	}
	.right-box{
		@include flex(1);
		@include display(flex);
		@include align-items(center);
		@include justify-content(space-between);
		.right-l,.right-r{
			@include flex(1);
			input{
				width: 100%;
				border: none;
				outline: none;
			}
		}
    //.right-r1{
    //  width: rem(100);
    //  overflow-x: auto;
    //  //background-color: red;
    //  input{
    //    width: rem(130);
    //    //min-width: 100%;
    //
    //  }
    //}
		.scan{
			width: rem(46);
		}
		.arrow-back{
			color: #C7C7CC!important;
			line-height: 1;
		}
		position: relative;

		.right-r{
			@include flex(1);
			color: #B2B2B2;
			text-align: right;
			padding-right: rem(10);
		}
		.ellipsis{
      width: 100%;
			overflow: hidden;
			//text-overflow: ellipsis;
			//white-space: nowrap;
      word-wrap: break-word;
      word-break: break-all;
			float: right;
		}
		.del{
			width: rem(28);
			height: rem(28);
			background: url("base64/delete3.png") no-repeat center;
			background-size: 100%;
		}
	}
	.actcontent{
		position: relative;
		.init{
			width: 100%;
			background: #fff;
			padding: rem(20) rem(30);
			color: #999;
			font-size: rem(24);
			text-align: right;
		}
		.red{
			color: #F76260;
		}
	}
	.textarea{
		width: 100%;
		height: rem(500);
		resize:none;
		padding: rem(30);
		border:0;
		font-size: rem(34);
	}
}
.jumpbox{
	width: 100%;
	.nav{
		width: 100%;
		background: #efeff4;
		overflow: hidden;
		padding: rem(30) 0 rem(30) rem(30);
		span{
			width: rem(150);
			height: rem(60);
			border:1px solid #aaa;
			text-align: center;
			font-size: rem(26);
			line-height: rem(60);
			float: left;
			margin-right: rem(30);
			background: #fff;
			border-radius: rem(5);
		}
		.on{
			border:1px solid #00A699;
			background:#fff url("base64/icheck.png") no-repeat right bottom;
			background-size: 20%;
		}
	}
	.navbox{
		.box{
			display: none;
		}
	}
	.check-coupon .checkbox .program{
		height: rem(140);
		h2{
			width: 50%;
			font-weight: 100;
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
		}
		p{
			margin: 0;
		}
	}
	.program{
		position: relative;
		.program-name{
			position: absolute;
			right: rem(30);
			top: rem(45);
			color: #888;
			font-weight: 100;
			font-size: rem(34);
		}
	}
}
.activitybox{
	.left-box{
		text-align: left;
		width: rem(140);
	}
}
.coupons{
	width: 100%;
	height: rem(500);
	overflow-y: auto;
}
.check-coupon{
	width: 100%;
	background: #fff;
	padding: 0 0 0 rem(30);
	display: table;
	@include hair(bottom, #d9d9d9);
	.checkicon{
		line-height:rem(316);
		display: table-cell;
		vertical-align: middle;
		i{
			width:rem(46);
			height:rem(46);
			border:1px solid #aaa;
			border-radius:50%;
			display: block;
			margin:0 rem(10) 0 0;
		}
	}
	.checkbox{

		@include hair(bottom, #d9d9d9);
		overflow: hidden;
		.arrow-back{

			@include transform(rotate(180deg));
			font-size: rem(28);
			margin-left: rem(10);
			color: #C7C7CC!important;
			line-height: rem(88);
		}

		.check-card{
			width: 100%;
			clear: both;

			height: rem(200);
			padding: rem(30) 0;
			overflow: hidden;
			text-align: left;
			h1,h2{
				font-size: rem(34);
				font-weight: 600;
			}
			p{
				font-size: rem(26);
				color: #aaa;
				margin-top: rem(10);
			}

		}

	}
	.check{
		i{
			background:url("base64/check.png") no-repeat center;
			background-size: 120%;
		}

	}
}


.bootedit{
	padding: rem(40);
  //background-color: green;
	.bl-button:first-child{
		margin: 0 0 rem(30) 0;
	}
}
.btn-box{
	@include display(flex);
	@include align-items(center);
}
.self-btn{
	border: none;
	font-size: rem(26);
	height: rem(60);
	padding: 0 rem(20);
	min-width: rem(120);
	display: block;
	margin-left: rem(20);
	border-radius: rem(4);
	color: #ffffff;
	background: $btn-normal;
}
.comit-btn{
	padding:0 rem(40);
	margin-bottom: rem(80);
}
.pic-box{
	background: #ffffff;
}
.watch-pic{
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background: #000000;
	z-index: 1000;
	padding-top: rem(230);
	visibility: hidden;
}
.set-main{
	margin: rem(80) auto 0;
	width: rem(360);
	height: rem(70);
	line-height: rem(70);
	background: #ffffff;
	text-align: center;
	border-radius: rem(4);
	font-size: rem(32);
}
.modal-bg{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 9999;
  .qimg{
  	width: 100%;
  	position: absolute;
  	left: 0;
  	top: 0;
    padding: rem(300) 0;
  	img{
  		width: 100%;
      max-height: 100%;
  	}
  }
}

.editgress{
  @include hairline(top, #ececec);
  width:100%;
  height: rem(100);
  position: fixed;
  bottom: 0;
  left: 0;
  background-color:#fff;
  font-size: rem(26);
  line-height: rem(100);
  text-align: center;
  z-index: 9;
  .button1{
    @include button1();
  }
  .button2{
    @include button2();
  }
  .button3{
    @include button3();
  }
  .button1:active,.button2:active,.button3:active{
    background-color: #ccc;
  }
}
