@charset "utf-8";
@import "tobe/function";
.content{
  padding-top: rem(0);
  padding-bottom: rem(60);
  :after{ visibility:hidden; display:block; font-size:0px;content:""; clear:both; height:0px;}
}
.content {
  .fback{
    @include i-fback();
    //font-style: normal;
    //position: absolute;
    //left: rem(52);
    //top: rem(26);
    //font-size: rem(30);

  }
  .coupon-list {
    ul {

      li {
        border-bottom: 1px solid #EEEEEE;
        background-color: #ffffff;
        margin-top: rem(20);
        padding: 0 0 0 rem(24);
        width: 100%;
        float: left;
        .list-1 {
          width: 100%;
          border-bottom: 1px solid #D9D9D9;
          padding: rem(24) rem(24) rem(24) 0;
          position:relative;
          .le-name {
            float: left;
            font-size: rem(30);
            color: #000;
          }
          .ri-yundian {
            float: right;
            width: 64%;
            font-size: rem(30);
            text-align: right;
            input{
              line-height: 1;
              border: none;
              width: 100%;
              color: #000000;
            }
          }
          .le-fonts {
            float: right;
            color: #000000;
            font-size: rem(28);
            font-size: rem(30);
            textarea{
              border: none;
              width: 100%;
              height: auto;
              resize: none;
              line-height: 1.2;
              text-align: left;
            }
          }
          .le-wd{width: 80%;}
        }
        .line {
          border-bottom: none
        }
        .le-check-right{float:right; color:#888888;
          span{
            float:left;
            font-size:rem(30);
            padding: 0 rem(40);
          }
          .arrow-back {
            font-size: .32rem;
            color: #bbbbbb;
            -webkit-transform: rotate(180deg);
            -ms-transform: rotate(180deg);
            transform: rotate(180deg);
            position: absolute;
            top: rem(28);
            right: rem(24);
          }
        }
      }
    }

  }
}
