@charset "utf-8";
@import "tobe/function";

.content{
    padding-top: rem(88);
    padding-bottom: rem(60);

	.title{
		i{
			width: rem(40);
			height: rem(20);
			display: inline-block;
			/* background: inline-image("base64/previous.png") no-repeat center; */
			background:url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAHCAYAAAAxrNxjAAAAAXNSR0IArs4c6QAAAGNJREFUGBlj+P///xIgJgSWMABV8AHxfTwqQXJ8DCAAZFgB8R8gRgcgMSuwIhgBFKhHVwXkN8Dk4TRQkBmIjyIpBrGZ4QqQGUAJBSD+CMWKyHIsyBxGRsYHQEVZIDEg+z6yHAAoEKrVeZ/lVAAAAABJRU5ErkJggg==') no-repeat center;
		}

	}
	.fback{
    @include i-fback();
		//font-style: normal;
		//position: absolute;
		//left: rem(52);
		//top: rem(26);
		//font-size: rem(30);

	}
}
.management{
	height: 100%;
	width: 100%;
	background:#fff;
	overflow: hidden;
	padding-top: rem(128);
	.bl-button{
		margin: rem(40) rem(40);
		border:1px solid #aaa;
		font-size: rem(36);
		color: #263238;
		background:#fff;
		line-height: rem(94);
	}
	.bl-button.primary:after{
		background:#fff;

	}
	.bl-button.primary{
		color: #263238;
	}
}
