@charset "utf-8";
@import "tobe/function";

.content{
    padding-top: rem(88);
    padding-bottom: rem(160);

	.title{
		i{
			width: rem(40);
			height: rem(20);
			display: inline-block;
			background: url("base64/previous.png") no-repeat center;
		}

	}
	.fback{
    @include i-fback();
		//font-style: normal;
		//position: absolute;
		//left: rem(52);
		//top: rem(26);
		//font-size: rem(30);

	}
	.hrad-right{
		font-size: rem(30);
		color: #fff;
		margin-right: rem(30);
		cursor: pointer;
	}

	.sysmess,.sysmess1{
		background: #fff;
		padding: 0 rem(30);
		li{
			width: 100%;
			overflow: hidden;
			border-bottom: 1px solid #d9d9d9;
			display: table;
			padding: rem(24) 0;
			em{
				width: rem(52);
				height: rem(52);
				display: block;
				position: relative;
				border-radius: rem(26);
				i{
					width: rem(34);
					height: rem(34);
					position: absolute;
					background: #FD001F;
					right: - rem(10);
					top: - rem(10);
					border-radius: rem(17);
					font-style: normal;
					color: #fff;
					text-align: center;
					line-height: rem(34);
					-webkit-transform: scale(0.7);
				}
        .longMsg{
          width: rem(60);
        }
				img{
					width: 100%;
					height: 100%;
				}
			}
		}
		.sysl{
			display: table-cell;
	    	vertical-align: middle;
		}
		.sysr{
			width: 100%;
			padding: 0 0 0 rem(14);
			overflow: hidden;
			position: relative;
			i{
				position: absolute;
				right: 0;
				top: 0;
				font-size: rem(24);
				color: #7E8497;
				font-style: normal;
			}
			h1{
				font-size: rem(28);
				color: #121C2D;
				font-weight: 300;
			}
			p{
				width: rem(500);
				font-size: rem(26);
				color: #7E8497;
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
		.sys1{
			background: url("base64/sms_01.png") no-repeat center;
		}
		.sys2{
			background: url("base64/sms_02.png") no-repeat center;
		}
		.sys3{
			background: url("base64/sms_03.png") no-repeat center;
		}
		& .sys1,.sys2,.sys3{
			background-size: 100%;
		}
	}
  .sysmess1:nth-of-type(3n),.sysmess:last-child{
    li{
      border-bottom: 1px solid #fff;
    }
  }
	.mysms{
		margin: rem(20) auto;

		.pic{
			width: rem(60);
			height: rem(60);
			i{
			width: rem(36);
			height: rem(36);
			border-radius: rem(18);
			text-align: center;
			color: #fff;
			font-size: rem(22);
			-webkit-transform:scale(0.8);
			right: - rem(16);
			top: - rem(16);
			}
		}
	}


}

