@charset "utf-8";
@import "tobe/function";
.tab-item-text{
		position: relative;
		i{
			position: absolute;
			width: rem(30);
			height: rem(30);
			top:rem(36);
			right:- rem(30);
		}
		.screen{
			background: url("base64/sx.png") no-repeat left center;
			background-size: 100%;
		}
		.pcreen{
			background: url("base64/sort.png") no-repeat left center;
			background-size: 100%;

		}
		.dcreen{
			background: url("base64/sortd.png") no-repeat left center;
			background-size: 100%;
		}
	}

.content{
    padding-top: rem(88);
    padding-bottom: rem(100);
}
.content {
	.title{
		i{
			width: rem(40);
			height: rem(20);
			display: inline-block;
			background: url("base64/previous.png") no-repeat center;
		}
	}
	.fback{
      @include i-fback();
		//font-style: normal;
		//position: absolute;
		//left: rem(52);
		//top: rem(26);
		//font-size: rem(30);

	}
	.hrad-right{
		font-size: rem(30);
		color: #ffffff;
		margin-right: rem(30);
		cursor: pointer;
	}
	.otop{
		margin: rem(30) auto;
	}

	.order-details{
		padding: 0 0 rem(50) 0;
	}

	.order-status,.order-consignee,.order-shop,.order-post{
		background: #fff;
		overflow: hidden;
		clear: both;
		padding: rem(30);
		margin-bottom: rem(30);
		position: relative;
		border-bottom: 1px solid #d9d9d9;
		dl{
			padding: 0 0 0 rem(50);
			position: relative;
			float: left;
			width: 100%;
		}
		dt{
			font-size: rem(28);
			color: #333;
			font-weight: 600;
			padding-bottom: rem(8);
		}
		i{
			width: rem(26);
			height: rem(28);
			position: absolute;
			top: rem(8);
			left: 0;
		}
		dd{
			font-size: rem(24);
			color: #666;
		}
		button{
			color: #4B4B64;
			font-size: rem(26);
			padding: rem(10) rem(24);
			border: 1px solid #66667B;
			border-radius: rem(5);
			background: #fff;
			position: absolute;
			right: rem(30);
			bottom: rem(30);
		}
		.tel{
			float: right;
		}
	}
	.order-status{
		i{
			background: url("base64/order-01.png") no-repeat top;
			background-size: contain;
		}
		.rtime{
			color: #F76260;
			font-size: rem(24);
			font-weight: 100;
			float: right;
		}
	}
	.order-consignee{
		i{
			background: url("base64/order-02.png") no-repeat top;
			background-size: contain;
		}
	}
	.order-shop{
		i{
			background: url("base64/order-03.png") no-repeat top;
			background-size: contain;
		}
	}
	.order-post{
		i{
			background: url("base64/order-04.png") no-repeat top;
			background-size: contain;
		}
		dd{
			width: rem(592);
		}
		.arrow-back{
			transform: rotate(180deg);
			position: absolute;
			top: 50%;
			right: - rem(10);
			color: #999;
			font-size: rem(40);
			text-align: right;
			margin-top: - rem(10);
		}
		.time{
			color: #999;
		}
		.phone{
			color: #00A699;
			display: inline;
		}
	}

	.order-express{
		padding: rem(30);
		background: #fff;
		border-bottom: 1px solid #d9d9d9;
		.express{
			overflow: hidden;
			clear: both;
			.express-line{
				float: left;
			}
			dl{
				width: rem(630);
				float: right;
				border-bottom: 1px solid #d9d9d9;
				padding-bottom: rem(30);
				margin:0 0 rem(30) rem(30);
				overflow: hidden;

				dt{
					font-size: rem(28);
					font-weight: 100;
					color: #000;
					padding-bottom: rem(8);
				}
				dd{
					font-size: rem(24);
					color: #666;

				}
				.exp{
					color: #F76260;
				}
				.rem{
					color: #999;
					padding: rem(8) rem(20);
					background: #f9f9f9;
					margin-top: rem(16);
				}
				.date{
					float: right;
					color: #999;
					font-size: rem(24);
					font-weight: 100;
				}
			}
		}
		.express:last-child{
			dl{
				margin:0 0 0 rem(30);
			}
		}
	}
	.order-product{
		padding-left: rem(30);
		background: #fff;
		border-bottom: 1px solid #d9d9d9;
		.probox{
			padding: rem(20) rem(30) rem(20) 0;
			overflow: hidden;
			.picture{
				width: rem(100);
				height: rem(100);
				overflow: hidden;
				float: left;
				text-align: center;
				margin-right: rem(30);
				img{
					width: auto;
					height: 100%;
				}
			}
			dl{
				width: rem(560);
				overflow: hidden;
				float: left;
			}
			dt{
				width: rem(560);
				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
				font-size: rem(28);
				color: #222;
				margin-bottom: rem(26);
			}
			dd{
				font-size: rem(24);
				color: #666;
			}
		}
		.probox:nth-child(odd) {
			border-bottom: 1px solid #d9d9d9;
		}
		.pr{
			float: right;
			font-size: rem(28);
		}
	}
	.order-pay{
		padding: rem(30);
		background: #fff;
		font-size: rem(28);
		color: #666;
		li{
			clear: both;
			padding: rem(10) 0;
		}
		i{
			font-style: normal;
			float: right;
		}
		.pay{
			font-size: rem(36);
			span{
				color: #000;
			}
			i{
				color: #F76260;
			}
		}
	}

	.editgress{
		width:100%;
		height: rem(100);
		position: fixed;
		bottom: 0;
		left: 0;
		background-color:#fff;
		font-size: rem(26);
		line-height: rem(100);
		text-align: right;
		button{
			color: #4B4B64;
			font-size: rem(26);
			padding: rem(10) rem(24);
			border: 1px solid #66667B;
			border-radius: rem(5);
			background: #fff;
			display: inline-block;
			margin: 0 rem(24) 0 0;
		}
		.red{
			color: #F76260;
			border:1px solid #F76260;
		}
	}



}

.right-box{
	@include flex(1);
	@include display(flex);
	@include align-items(center);
	@include justify-content(space-between);
	.right-l{
		@include flex(1);
		padding-right: rem(20);
		color: #B2B2B2;
		input{
			width: 100%;
			border: none;
			outline: none;
		}
	}
	.right-r{
		@include flex(1);
		padding-right: rem(20);
		color: #B2B2B2;
		text-align: right;
	}
	.arrow-back{
		color: #C7C7CC!important;
		line-height: 1;
	}
}

.modal-bg{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 99;
 }
