@charset "utf-8";
@import "tobe/function";

.write{
	background-color: #fff;
}
.nodata {
      height:40%;
      width: 40%;
      margin-left: 30%;
      margin-top: 20%;
}
.content-parking{
	.fback{
    @include i-fback();
		//font-style: normal;
		//position: absolute;
		//left: rem(52);
		//top: rem(26);
		//font-size: rem(30);

	}
    padding-top: rem(88);
    .nobody{
    	margin: rem(160) auto;
    	dt{
    		width: rem(180);
    		height: rem(180);
    		margin: 0 auto;
    	}
    	dd{
    		color: #999;
    		font-size: rem(32);
    		text-align: center;
    		padding-top: rem(50);
    	}
    	.pticket{
    		background: url(base64/parking_01.png) no-repeat;
    		background-size: 100%;
    	}
    	.porders{
    		background: url(base64/parking_02.png) no-repeat;
    		background-size: 100%;
    	}
    }
    /* 明细 */
    .table{
    	width: 100%;
    	padding-top: rem(96);
    	dt{
    		position: fixed;
    		width: 100%;
    		height: rem(96);
    		background-color: #fff;
    		border-bottom: 1px solid #d9d9d9;
    		/* @include hair(bottom, #d9d9d9); */
    		top: rem(88);
    		left: 0;
    		z-index: 9;
    		em{
    			width: 33%;
    			height: rem(96);
    			line-height: rem(96);
    			text-align: center;
    			font-style: normal;
    			float: left;
    			position: relative;
    			i{
    				position: absolute;
				    width: .3rem;
				    height: .3rem;
				    top: 0.3rem;
				    right: 0.4rem;
    			}
    			.pcreen{
				    background: url(base64/sort.png) no-repeat left center;
				    background-size: 100%;
    			}
    			.dcreen{
					background: url(base64/sortd.png) no-repeat left center;
					background-size: 100%;
    			}
    		}
    		.line{
    			border-width:0 1px;
    			border:1px solid #d9d9d9;
    		}
    	}
		dd{
			height: rem(88);
			padding-left: rem(30);
			color: #585858;
			position: relative;
			font-size: rem(34);
			.list{
				width: 100%;
				height: rem(88);
				line-height: rem(88);
				@include hair(bottom, #d9d9d9);
			}
			span{
				width: 33%;
				float: left;
			}
			.arrow-back{
				position: absolute;
				right: rem(30);
				top: rem(30);
				transform: rotate(180deg);
				color: #ccc;
			}
		}

    }

    /* 记录 */
	.mark-box{

		.tab-item-text{
			padding: 0 rem(20);
			span{
				display: block;
				width: 100%;
			}
		}
		.tab-item.is-selected:after{
			width: 72%;
			left: rem(20);
		}
		.bl-tab-container{
			padding: rem(100) 0 0;
		}
		.check-content{
			width: 100%;
			background: #fff;
			padding: 0 0 0 rem(30);
			margin: rem(30) 0;
			overflow: hidden;
			h2{
				font-size: rem(34);
				margin: rem(40) 0 rem(30) 0;
				font-weight: 100;
				color: #333;
			}
			p{
				color: #666;
				font-size: rem(28);
			}
		}

		.buybox{
			padding: rem(30) 0 0 rem(30);
			margin: rem(0) 0 rem(20) 0;
		}
		.checkicon{
			display: table-cell;
	    	vertical-align: middle;
			line-height:rem(316);
			i{
				width:rem(46);
				height:rem(46);
				border:1px solid #aaa;
				border-radius:50%;
				float:left;
				margin: 0 rem(20) 0 0;

			}
		}
		.checkbox{
			@include hair(bottom, #d9d9d9);
			overflow: hidden;

			ul{
				clear: both;
				height: rem(228);
				@include hair(bottom, #d9d9d9);
				width: 200%;
			}
			li{
				float: left;
				padding: rem(30) rem(20) 0 0;

				em{
					width: rem(120);
					height: rem(120);
					display: block;
					overflow: hidden;
					img{
						width: 100%;
					}
				}
				.ptext{
					color: #000;
					width: rem(120);
					text-align: center;
					padding: rem(20) 0 0;
					display: block;
					overflow: hidden;
					font-size: rem(26);
				}
			}
			.countbox{
				padding-top: rem(15);
				height: rem(74);
			}
			.bot{
				height: rem(116);
				font-size: rem(36);
				color: #333;
				line-height: rem(116);
				position: relative;
				overflow: hidden;
				span{
					float: right;
					color: #586C94;
					display: flex;
					margin: 0 rem(30) 0 0;
				}
				i{
					display: block;
					font-size: rem(26);
					color: #999;
					line-height: rem(30);
					font-style: normal;
					margin: rem(18) 0 0 0;
					width: 65%;
					height: rem(30);
					overflow: hidden;
				}
				.buy{
					position: absolute;
					right: 0;
					top: 0;
          padding: 0px;
				}
			}
			.arrow-back{

				@include transform(rotate(180deg));
				font-size: rem(28);
				margin-left: rem(10);
				color: #C7C7CC!important;
				line-height: rem(88);
			}
			.check-card{
				width: 200%;
				clear: both;
				@include hair(bottom, #d9d9d9);
				height: rem(200);
				overflow: hidden;
				.card{
					width: rem(190);
					height: rem(172);
					overflow: hidden;
					float: left;
					border-top-left-radius: rem(10);
					border-bottom-left-radius: rem(10);
					text-align: center;
					font-size: rem(48);
					line-height: rem(130);
					position: relative;
					margin:0 rem(30) rem(30) 0;
					/* background: #ffe200 inline-image("base64/yhq.png") no-repeat center; */
					background:#ffe200 url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAF8AAABWCAYAAACpQ0o9AAAAAXNSR0IArs4c6QAAAnpJREFUeAHt3T1KA1EUxfE7k4ABLSRgEYzZgguwiS7ANdhZuRGxtrGxcxdq4wJs7QwBCyEWImph4n3zlcwCck+RfyDMG5ujv/d4MzhHk5m/FlMb2sIu/T3200H6Gq/1C2QV/LPD99cfR8KqQF6teOBXVYLGCX8clEVMLdAZme3dW7aYOD+vWAGHt96x5bGppBUCW0fFAXzFevh9KlLZdhT4ac/v37LnK+zrTLadWkJwBF+AXkd26wHHSAFf89vn3GpGkjdZu1d+wb3mgtuARA72P83yHVZ+pHmTNZ8VQy64jUjg4OPCbP7NthNI3o7qHIDfFok9Y9uJ9W6lgd/iCDzxbQf8QO8mqnfqT8pf2PMbkMjB4NWsO2LlR5o3WXn5yJxtpxEJHHzdFGE8TAk0X0b5mvdfrIG/FAkfse2Eky8DwV9ahI/ADyf3wKo0Bb4C35sLlKYU8CmT0pRK3nMpTQnxKU0J8atoLrjCOQBfiE9pSoLva57SlETejNKUCD7FUpoS4lOaEuJTmhLip2hKU9oJ4D5f6A++Cp/SlEie0pQIPsVSmhLiU5oS4lOaEuKnlialKeUE+N/EaeM3Ox184fyDr8CnNKVQrzIpTQnxKU0J8SlNCfEpTQnxq2judoRzAL4Qn9KUBN/XPKUpiTylKRF7GUtpSshPaUqIT2lKiJ+iKU1pJ4D7fKE/+Cp8SlMieUpTIvgUS2lKiE9pSohPaUqIT2lKiV9mc6spnAPwwRcKKKIpTSnUq0xKU0J8SlNC/Ko0lS64b8JvYzOjZ2dmPw9+t5/Z42YKCH/qv4nZ+4n/O9/y88/5GG7BXOTZ0Ka++g/9fef5bEGBk/APvfyeKa8pwgoAAAAASUVORK5CYII=') no-repeat center;
					background-size: 100%;
					span{
						font-size: rem(24);
						width: 100%;
						position: absolute;
						bottom: rem(40);
						left: 0;
						line-height: normal;
						font-weight: 100;
					}
				}
				dl{
					overflow: hidden;
					dt{
						font-size: rem(34);
						color: #222;
						margin-bottom: rem(10);
						font-weight: 400;
					}
					dd{
						width: rem(470);
						font-size: rem(26);
						color: #aaa;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}
					.time{
						margin-top: rem(5);
					}
					.over{
						color: #F76260;
					}
				}
			}
			.check-card-detail{
				height: rem(250)
			}
			button{
				width: rem(180);
				height: rem(72);
				background-color: #66667B;
				border-radius: rem(4);
				border:0;
				color: #fff;
				font-size: rem(30);
				float: right;
				margin: rem(22) rem(30) 0 0;
				padding: 0;
			}
			button:disabled{
				background-color: #ddd;
				border:1px solid #aaa;
				color: #b2b2b2;
			}
			.btn{
				background-color: #fff;
				color: #4B4B64;
				border:1px solid #aaa;
				float: left;
				margin-right: rem(74);
				padding: 0;
			}


			.count{
				width: rem(252);
				height: rem(58);
				float: left;
				position: relative;
				border:1px solid #ccc;
				display: inline-block;
				overflow: hidden;
				color: #000;
				em{
					width: rem(56);
					height: rem(56);
					position: absolute;
					line-height: rem(56);
					text-align: center;
					font-size: rem(48);
					font-style: normal;
				}
				.reduce{
					top: 0;
					left: 0;
					line-height: rem(50);
				}
				.add{
					top: 0;
					right: 0;
				}
				input, .currentInput{
					width: rem(120);
					height: rem(56);
				    line-height: rem(56);
				    text-align: center;
				    font-size: rem(36);
				    color: #000;
				    border: solid #ccc;
				    border-width: 0 1px;
				    margin-left: rem(56);
				}
			}
			.max{
				float: right;
				text-align: right;
				font-size: rem(24);
				p{
					font-size: rem(24);
					line-height: rem(30);
					color: #999;
				}
				.blue{
					color: #666;
				}
				.over{
					color: #F76260;
				}
			}
		}

		.cardlist{
			.check-card{
				margin-top: rem(30);
				dl{
					dd{
						width: rem(470);
						font-size: rem(26);
						color: #666;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						padding: rem(8) 0;
					}
				}
			}
			.tip{
				height: rem(88);
				line-height: rem(88);
				@include hair(bottom, #d9d9d9);
				font-size: rem(32);
				em{
					border-radius: rem(20);
					font-style: normal;
					background-color: #FFD64D;
					font-size: rem(24);
					padding: rem(4) rem(8);
				}
				span{
					float: right;
					padding: 0 rem(30);
				}
				.f{
					color: #00A699;
				}
				.d{
					color: #F68C6D;
				}
				.s{
					color: #F76260;
				}
				.y{
					color: #B2B2B2;
				}

			}

			.edit{
				height: rem(116);
				font-size: rem(36);
				color: #333;
				line-height: rem(116);
				position: relative;
				overflow: hidden;
				span{
					float: left;
					font-size: rem(24);
					color: #333;
					padding: 0 rem(10) 0 0;
				}
				.gray{
					color: #aaa;
				}
				button{
					background:#fff;
					color: #4B4B64;
					border:1px solid #ccc;
					font-size: rem(30);
				}
			}
		}

		.number-card{
			padding: 0;
			.check-card{
				margin: 0 0 0 rem(30);
				dl{
					dd{
						color:#666;
					}
				}
			}
			.number{
				width: 100%;
				height: rem(68);
				@include hair(bottom, #d9d9d9);
				span{
					width: 50%;
					line-height: rem(68);
					color: #666;
					display: inline-block;
					text-align: center;
					@include hair(left, #d9d9d9);
					margin-left: - rem(4);
				}
			}
		}

	}
	.editbar{
		width:100%;
		height: rem(116);
		line-height: rem(116);
		position: fixed;
		bottom: 0;
		left: 0;
		background-color:#fff;
		font-size: rem(32);
		border-top: 1px solid #d9d9d9;
		padding: 0 rem(30);
		button{
			width: rem(190);
			height: rem(75);
			// background-color: #fff;
			background-color: #66667B;
			border: 1px solid #aaa;
			font-size: rem(30);
			// color: #4B4B64;
			color: #fff;
			text-align: center;
			display: inline-block;
			// margin: 0 rem(65) 0 0;
			margin: 0 rem(65) 0 rem(500);
      		padding: 0;
			border-radius: rem(4);
		}
		button:nth-child(3n){
			margin: 0;
			background-color: #66667B;
			color: #fff;
			border:1px solid #66667B;
		}
	}
	.tab-item .tab-item-text i{
		width: rem(32);
		height: rem(32);
		border-radius: rem(16);
		background-color: #F76260;
		color: #fff;
		position: absolute;
		right: rem(0);
		top: rem(20);
		line-height: rem(32);
		font-weight: 100;
		font-size: rem(20);
		text-align: center;
		font-style: normal;
	}
}
.nodata{
  height:40%;
  width: 40%;
  margin-left: 30%;
  margin-top: 20%;
}

