/* creat by llm */
@charset "utf-8";
@import "tobe/function";

.content{
  .fback{
    @include i-fback();
    //font-style: normal;
    //position: absolute;
    //left: rem(52);
    //top: rem(26);
    //font-size: rem(30);

  }

}


.badge {
	background:#ffffff;
	padding-left:rem(30);
	font-size:rem(34);
    .badge-head {
        height: rem(180);
        @include display(flex);
        @include align-items(center);
        @include justify-content(space-between);
        @include hair(bottom, #d9d9d9);
        background-origin:border-box;
        padding-right: rem(30);
        .head-img {
            width: rem(100);
            height: rem(100);
            border-radius:100%;
            overflow:hidden;
        }
    }
}
.margin-t{
	margin-top:rem(40);
}
