@charset "utf-8";
@import "tobe/function";

.content-promo{
  padding: rem(88) 0 rem(0) 0;
  .fback{
    @include i-fback();
  }
  //margin-bottom: rem(100);
}
.promotion-tip{
  height: rem(88);
  width: 100%;
  color: #999;
  font-size: rem(26);
  padding: rem(30);
  position: relative;
  em{
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: url(base64/delete3.png) no-repeat center;
    background-size: 100%;
    color: #fff;
    position: absolute;
    right: rem(30);
    top: rem(30);
    text-align: center;
    line-height: 20px;
    font-size: 18px;
  }
}
/* list */
.scrollList{
  background: #fff;
  .scroll{
    padding: rem(100) 0;
  }
  .bl-tab-container{
    //padding: rem(100) 0 0;
    margin-bottom: rem(100);
  }
  .tab-item.is-selected:after{
    left: rem(20);
    right: rem(20);
  }
  .promotion-top{
    padding-top: rem(88);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9;
    width: 100%;
  }
  .bg{
    background: #F5F5F5;
  }

  dl{
    margin-left: rem(30);
    padding: rem(30) rem(30) rem(30) 0;
    border-bottom: 1px solid #d9d9d9;
    dt{
      font-size: rem(34);
      color: #585858;
      line-height: rem(40);
      h2{
        width: rem(500);
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font-size: rem(34);
        font-weight: 100;
        float: left;
      }
      i{
        color: #F76260;
        border:1px solid #F76260;
        font-size: 12px;
        font-style: normal;
        float: left;
        height: rem(36);
        min-width:rem(36);
        text-align: center;
        line-height: rem(36);
        margin-right: rem(10);
      }
      .te{
        background: #F76260;
        color: #fff;
        margin-right: 0;
      }
      span{
        float: right;
        font-size: rem(24);
      }
      .ing{
        color: #00A699;
      }
      .pending{
        color: #F68C6D;
      }
      .notpass{
        color: #F76260;
      }
      .expir{
        color: #999;
      }
    }
    dd{
      padding:rem(10) 0 0 0;
      clear: both;
      color: #999;
    }
    .box{
      max-width: rem(600);
      color: #333;
      float: left;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      font-size: rem(40);
      background: #FFD64D;
      font-size: rem(24);
      border-radius: rem(20);
      display: inline;
      padding: rem(4) rem(15);
      margin-top: rem(5);
      span{
        height: rem(100);
        background: #FFD64D;
        color: #333;
        font-size: rem(24);
        border-radius: rem(20);
        display: inline;
        padding: rem(4) rem(15);
        margin-right: rem(20);
      }
      .none{
        font-size: rem(24);
        color: #333;
        background: none;
        padding: 0;
      }
    }
    .arrow-back{
      @include transform(rotate(180deg));
      font-size: rem(28);
      color: #ccc;
      width: rem(30);
      float: right;
      margin: rem(20) 0 0 0;
    }
  }
  dl:active{
    @include addclickcolor();
  }
}

.promotion-button{
  background: #4B4B64;
  color: #fff;
  width: 100%;
  border:0;
  height: rem(88);
  line-height: rem(88);
  position: relative;
  // position: fixed;
  padding-bottom: 10px;
  margin-top: 10px;
  bottom: 0;
  left: 0;
  font-size: rem(36);
  i{
    width: 24px;
    height: 24px;
    border:1px solid #fff;
    border-radius: 12px;
    background: url(base64/add.png) no-repeat;
    background-size: 100%;
    float: left;
    margin: rem(20) rem(10) 0 33%;
  }
  span{
    float: left;
  }
  .notpass{
    display: flex;
  }
  em{
    width: 50%;
    text-align: center;
    font-style: normal;
    flex:1;
    float: left;
  }
  .not{
    background: #66667B;
  }
}
.btngray{
  background-color: #ddd;
  color: #b2b2b2;
}

.promotion{
  .right-box{
    @include flex(1);
    @include display(flex);
    @include align-items(center);
    @include justify-content(space-between);
    .right-l,.right-r{
      @include flex(1);
      input{
        width: 100%;
        border: none;
        outline: none;
      }
    }
    .scan{
      width: rem(46);
    }
    .arrow-back{
      color: #C7C7CC!important;
      line-height: 1;
    }
    position: relative;

    .right-r{
      @include flex(1);
      color: #B2B2B2;
      text-align: right;
      padding-right: rem(10);
    }
  }
  .toptip{
    padding: rem(30) 0;
    background-color: #ffffff;
  }
  .promotion-title{
    width: rem(300);
    height: rem(88);
    line-height: rem(88);
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .left-box{
    width:rem(230);
  }
  .left-tit{
    width: rem(220);
  }
  .bot{
    margin-bottom: rem(30);
  }
  .top{
    margin-top: rem(30);
  }
  .mj{
    width: 100%;
    height: rem(88);
    overflow: hidden;
    @include hair(bottom, #d9d9d9);
    background: #fff;
    font-size: rem(34);
    color: #585858;
    line-height: rem(88);
    margin-bottom: 1px;
    span{
      width: 50%;
      float: left;
      height: rem(88);
    }
    em{
      font-style: normal;
      padding: 0 rem(30);
    }
    input{
      width: rem(220);
      height: rem(60);
      border:0;
      color: #333;
    }
    .line{
      @include hair(right, #d9d9d9);
    }
  }
  .btn{
    padding: rem(30) rem(30) 0 rem(30);
    button{
      width: 100%;
      height: rem(96);
      border: 1px solid #aaa;
      color: #4B4B64;
      font-size: rem(36);
      background: #fff;
    }
  }
  .count{
    width: rem(292);
    height: rem(58);
    float: right;
    position: relative;
    border:1px solid #ccc;
    display: inline-block;
    overflow: hidden;
    color: #66667B;
    em{
      width: rem(56);
      height: rem(56);
      position: absolute;
      line-height: rem(56);
      text-align: center;
      font-size: rem(48);
      font-style: normal;
    }
    .reduce{
      top: 0;
      left: 0;
      line-height: rem(50);
    }
    .add{
      top: 0;
      right: 0;
    }
    input{
      width: rem(170);
      height: rem(56);
      line-height: rem(56);
      text-align: center;
      font-size: rem(36);
      color: #66667B;
      border: solid #ccc;
      border-width: 0 1px;
      margin-left: rem(56);
    }
  }
  .unit{
    display: inline-block;
    width: rem(250);
  }
}

.modal-bg{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 10;
}
.editgress{
  @include hairline(top, #ececec);
  width:100%;
  height: rem(100);
  position: fixed;
  bottom: 0;
  left: 0;
  background-color:#fff;
  font-size: rem(26);
  line-height: rem(100);
  text-align: center;
  z-index: 9;
  .button1{
    @include button1();
  }
  .button2{
    @include button2();
  }
  .button3{
    @include button3();
  }
  .button1:active,.button2:active,.button3:active{
    background-color: #ccc;
  }
}

