@charset "utf-8";
@import "tobe/function";

.content{
    padding-top: rem(88);
    padding-bottom: rem(60);

	.title{
		i{
			width: rem(40);
			height: rem(20);
			display: inline-block;
			background: url("base64/previous.png") no-repeat center;
		}

	}
	.fback{
    @include i-fback();
		//font-style: normal;
		//position: absolute;
		//left: rem(52);
		//top: rem(26);
		//font-size: rem(30);

	}
	.queryauth{
		.tip{
			color: #E6133C;
			font-size: rem(28);
			line-height: rem(96);
			text-align: center;
			border-bottom: 1px solid #d9d9d9;
			margin-top: rem(100);
		}
		.badge{
			background:#ffffff;
			padding-left:rem(30);
		}
		.grant{
			@include display(flex);
			@include align-items(center);
			border-bottom: 1px solid #d9d9d9;
			padding: rem(24) 0;
			.pic{
				width: rem(128);
				height: rem(128);
				border-radius: rem(64);
				overflow: hidden;
				border: 1px solid #f9f9f9;
			}
			.arrow-back{
				@include transform(rotate(180deg));
				margin-left: rem(20);
				font-size: rem(24);
				float: right;
				color: #c7c7c7;
			}
			.info{
				width: 70%;
				float: left;
				margin: 0 0 0 rem(20)
			}
		}
		.nouser{
			font-size: rem(32);
			color: #aaa;
			text-align: center;
			margin-top: rem(100);
			padding: rem(88) rem(30);
		}
	}
}



